<h1>Questions#answer</h1>

<p><%= @question %></p>
<p>--Your question</p>
<p>-------------------------</p>
<p><%= @answer  %></p>
<p>--Your Coach's answer</p>

<%= link_to "ask a new question", ask_path %>

